* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #EAEBEB;
}
 .header-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
 @media (min-width:550px){
    .header-principal{
        display: block;
    }
 }
.logo-principal {
    display: flex;
    justify-content: flex-start;
}

@media (min-width: 1200px) {
    .logo-principal {
        display: flex;
        justify-content: center;
    }
}

.logo-principal img {
    width: 180px;
    height: auto;
}

@media (min-width: 1200px) {
    .logo-principal img {
        width: 250px;
        height: auto;
    }
} 

.icon-nav {
    width: auto;
    height: auto;
    font-size: 22px;
    color: #2A3040;
    position: relative;
}

.navegador-principal {
    position: absolute;
    right: 0;
    display: flex;
    top: 22;
    z-index: 1000;
}


.navegador{
    list-style-type: none;
    overflow: hidden;
    font-weight: 600;
    background-color: #2A3040;
    width: 250px;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
    display: flex;
}
.contenedor-navegador-principal {
    position: relative;
}


@media ( min-width:550px) {
    .navegador {
        font-weight: 600;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2A3040;
        width: 100%;
        flex-direction: row;
    }
  .icon-nav {
        display: none !important;
    }

    .navegador-principal {
        position: relative;
    }
}


.navegador-principal li a {
    display: block;
    color: #EAEBEB;
    text-align: start;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 12px;
  
}

@media (min-width: 1200px) {
    .navegador-principal li a {
        text-align: center;
        font-size: 16px;
    }
}

.tarjeta-de-producto {
    border: 1px solid;
    border-radius: 10px;
    border-color: #333;
    padding: 10px;
    width: 40%;
    height: auto;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}

@media (min-width: 1200px) {
    .tarjeta-de-producto {
        width: 200px;
        border: 1px solid;
        border-radius: 12px;
        border-color: #333;
        padding: 16px;
        height: auto;

    }
}

.tarjeta-de-producto:hover {
    transform: scale(1.05);
}



.imagen-principal-tarjeta img {
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .imagen-principal-tarjeta img {
        width: 100%;
        height: 200px;
    }
}



.titulo-principal-tarjeta {
    text-align: left;
    font-size: 24px;
}

.boton-principal {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}

.enlace-principal {
    text-align: center;
}

.titulo-principal-tarjeta {
    font-weight: 600;
    font-size: 13px;
}

@media (min-width: 1200px) {
    .texto-tarjeta {
        font-weight: 600;
        font-size: 15px;
    }
}


.texto-tarjeta {
    font-size: 10px;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .texto-tarjeta {
        font-size: 12px;
        font-weight: 500;
    }
}



.banner-rebajas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #F06B5F;
}

.banner-rebajas p {
    text-transform: uppercase;
    font-weight: 400;
    background-color: transparent;
    color: #EAEBEB;
}

.banner-promociones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    height: 200px;
    width:auto;
    background-image: url("https://res.cloudinary.com/elizapardo/image/upload/v1677669932/Web%20Kofe/pexels-negative-space-34079_zlcexi.jpg");
}

@media (min-width: 1200px) {
    .banner-promociones {
        height: 300px;
        width: 100%;
    }
}

.titulo-de-secciones {
    font-weight: 300;
    padding-top: 30px;
    margin-left: 15px;
}

@media (min-width: 1200px) {
    .titulo-de-secciones {
        font-weight: 400;
        padding-top: 40px;
    }

}

.promociones-titulo {
    font-weight: 400;
    font-size: 50px;
    color: #EAEBEB;
}

@media (min-width: 1200px) {
    .promociones-titulo {
        font-size: 90px;
    }

    .banner-promociones span {
        font-size: 130px;
    }

}

.banner-promociones span {
    color: #EAEBEB;
    font-weight: 800;
    font-size: 90px;
    text-align: center;
}

.contenedor-de-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

@media (min-width:1200px) {
    .contenedor-de-tarjetas {
        width: 1200px;
    }

}

.carrusel-de-productos {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:1200px) {
    .carrusel-de-productos {
        width: 1200px;
    }
}

.chip-cesta-compra {
    margin-top: 5px;
    padding: 0 15px;
    height: 30px;
    color: #EAEBEB;
    font-size: 12px;
    border-color: transparent;
    border-radius: 25px;
    background-color: #3F525A;
    font-weight: 600;

}

.chip-contenedor {
    display: flex;
    justify-content: flex-end;
}

.chip-cesta-compra:hover {
    background: #617077;
}

.linea-horizontal-secciones {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: #3F525A;
    height: 1px;
}

@media (min-width:1200px) {
    .linea-horizontal-secciones {
        width: 1200px;
    }
}

.imagen-tarjeta-recetas img {
    width: 70%;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 10;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #2A3040;
}

.texto-del-footer {
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    color: #EAEBEB;
}

.imagen-nivel-de-receta {
    width: 18px;
    height: auto;

}

.contenedor-nivel-de-dificultad-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 190px;
}

.imagen-nivel-de-receta img {
    color: #F06B5F;
    align-items: center;
}

.texto-tarjeta-2 {
    font-size: 13px;
    font-weight: 500;
    align-items: center;
}

.carrusel-video-recetas {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:1200px) {
    .carrusel-video-recetas {
        width: 1200px;
    }
}

.contenedor-tarjetas-recetas {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 50px;
}

@media (min-width:1200px) {
    .contenedor-tarjetas-recetas {
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
}




.logo-principal-blanco img {
    width: 200px;
    height: auto;
}

.nav-paginas {
    background-color: #2A3040;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 70px;
}

.nav-lista {
    font-weight: 600;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
    text-align: center;
    color: #EAEBEB;
}

.nav-lista li a {
    font-size: 12px;
    list-style: none;
    color: #EAEBEB;
    text-decoration: none;
}

@media (min-width:550px){
    .nav-lista li a {
        font-size: 16px;
    }
}



.boton-icono-nav {
    border-radius: 30px 30px 30px 30px;
    margin-top: 10px;
    border-color: transparent;
    background-color: #EAEBEB;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);

}

.boton-icono-nav img {
    height: 20px;
    width: 20px;
}

.iconos-del-nav {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
}

.contendor-iconos-nav {
    justify-content: flex-end;
}


.iconos-del-nav div {
    align-items: flex-end;
}