* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;

}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    position: webkit-sticky;
    /*safari*/
    position: sticky;
    top: 0;
}

.tarjeta {
    border: 1px solid;
    border-radius: 20px;
    border-color: #333;
    margin: 10px;
    padding: 16px;
    width: 10%;
    height: auto;
}

.imagen-principal {
    width: 100%;
}
.imagen-principal img {
    width: 100%;
    height: auto;
}

.titulo-principal {
    text-align: left;
    font-size: 24px;
}
.boton-principal{
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}

.enlace-principal{
text-align: center;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}