* {
    margin: 0;
    padding: 0;
    background-color: #EAEBEB;
    font-family: 'Open Sans', sans-serif;

}

.logo-principal {
    display: flex;
    justify-content: center;
}

.logo-principal img {
    width: 250px;
    height: auto;
}

ul {
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

li a {
    display: block;
    color: #3F525A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    position: webkit-sticky;
    /*safari*/
    position: sticky;
    top: 0;
}

.tarjeta-de-producto {
    border: 1px solid;
    border-radius: 12px;
    border-color: #333;
    padding: 16px;
    width: 200px;
    height: autopx;
    /* background-color: #D9D9D9; */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.tarjeta-de-producto:hover {
    /* border: 1px solid #F06B5F; */
    transform: scale(1.05);

}

.imagen-principal-tarjeta img {
    width: 100%;
    height: 200px;
}

.titulo-principal-tarjeta {
    text-align: left;
    font-size: 24px;
}

.boton-principal {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}

.enlace-principal {
    text-align: center;
}

.titulo-principal-tarjeta {
    font-weight: 600;
    font-size: 15px;
}

.texto-tarjeta {
    font-size: 12px;
    font-weight: 500;
}

.banner-rebajas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #F06B5F;
}

.banner-rebajas p {
    text-transform: uppercase;
    font-weight: 400;
    background-color: transparent;
    color: #EAEBEB;
}

.banner-promociones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url("https://res.cloudinary.com/elizapardo/image/upload/v1677669932/Web%20Kofe/pexels-negative-space-34079_zlcexi.jpg");
}

.titulo-de-secciones {
    font-weight: 400;
    padding-top: 40px;

}

.promociones-titulo {
    background-color: transparent;
    font-weight: 400;
    font-size: 90px;
    color: #EAEBEB;
}

.banner-promociones span {
    color: #EAEBEB;
    background-color: transparent;
    font-weight: 800;
    font-size: 130px;
    text-align: center;
}

.contenedor-de-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.carrusel-de-productos {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
    border-bottom: #3F525A 1px solid;
}
.chip-cesta-compra {
    margin-top: 10px;
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    color: #EAEBEB;
    font-size: 14px;
    border-color: transparent;
    border-radius: 25px;
    background-color: #3F525A;
}

.chip-cesta-compra:hover {
    background: #617077;
}